/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.02.2016, 15:00:48
    Author     : danielkuenkel
*/

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    padding-bottom: 70px;
}

.modal {
    padding-top: 30px;
    padding-bottom: 100px;
    z-index: 10000;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus
button:focus,
button:active,
button:visited,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

textarea {
    max-height: 300px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.btn-group-addon {
    cursor: default;
    background-color: #eeeeee;
    color: #696969;
}

.btn-group-addon:hover {
    background-color: #eeeeee;
    border-color: #cccccc;
    color: #303030 !important;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  cursor: pointer;
}*/

.custom-pagination {
    margin-top: 30px;
}

.pagination-custom {
    margin: 0;
}



h2 {
    /*font-size: 24px;*/
    /*text-transform: uppercase;*/
    color: #303030;
    /*font-weight: 600;*/
    /*margin-bottom: 30px;*/
}
h4 {
    /*font-size: 19px;*/
    line-height: 1.375em;
    color: #303030;
    /*font-weight: 400;*/
    /*margin-bottom: 30px;*/
}  

.font-bold {
    font-weight: bold;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.progress-bar {
    -webkit-transition: initial !important;
    -o-transition: initial !important;
    transition: initial !important;
}

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: initial !important;
    -o-animation: initial !important;
    animation: initial !important;
}

.navbar-brand {
    cursor: pointer;
}

.jumbotron {
    background: url('../img/footer_lodyas.jpg') repeat center;
    background-color: #303030;
    color: #fff;
    padding: 160px 25px 110px 25px;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.line {
    height: 3px;
    background-color: #B85B90;
    z-index: 9998;

}
.line.affix {
    top: 50px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    /*background-color: rgb(0,0,0);*/
}
.container-fluid {
    padding-top: 40px;
    padding-bottom: 80px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #5bb85c;
    font-size: 50px;
}
.icon-lg {
    color: #5bb85c;
    font-size: 60px;
}
.icon-xl {
    color: #5bb85c;
    font-size: 80px;
}
.icon-xxl {
    color: #5bb85c;
    font-size: 100px;
}

.panel-heading h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 65%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.btn-panel {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
    background-color: #303030;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ca3667 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ca3667;
}

.gn {
    color: #B85B90;
}

.btn-gn {
    color: white;
    border-color: #B85B90;
    background: #B85B90;
}
.btn-gn:hover{
    background: #99366E;
    border-color: #99366E;
    color: white;
}
.btn-gn-green {
    border-radius: 24px;
}

.btn-shadow
{
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.btn-shadow:hover {
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0, .3);
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.btn-lg {
    font-weight: bold;
}

.btn-xl {
    font-size: 22pt;
    padding: 15px 25px 15px 25px;
    font-weight: bold;
    border-radius: 10px;
}

.btn-xxl {
    font-size: 27pt;
    padding: 20px 30px 20px 30px;
    font-weight: bold;
    border-radius: 13px;
}

.btn-show-info {
    cursor: pointer;
}
.btn-show-info:hover {
    color: #303030   
}

.footer-copyright {
    letter-spacing: 1px;
    margin-top: 18px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}

.nav-pills {
    letter-spacing: 1px;
    margin-top: 9px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}
.nav-pills :hover, .nav-pills .btn-primary {
    background-color: transparent !important;
    border-color: white;
    border: 2px white;
    text-decoration: underline;
}

/*.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;	
    animation-duration: 0.3s;	
    -webkit-animation-duration: 0.3s;
    visibility: visible;			
}*/

.breadcrumb {
    background-color: transparent;
    padding: 70px 15px 0px 15px;
}

/*@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }	
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}*/

li.selected {
    background-color: #e7e7e7;
}

.checkbox .option-text, .radio .option-text {
    position: relative;
    top: -4px;
}

.checkbox .form-control, .radio .form-control {
    position: relative;
    top: -6px;
}

label .question {
    font-weight: bold !important;
}

.readonly {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;          
}

.uppercase {
    text-transform: uppercase;
}

.shadow {
    -webkit-box-shadow: 0px 4px 7px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 4px 7px rgba(0,0,0, .2);
    box-shadow: 0px 4px 7px rgba(0,0,0, .2);
}

#checkbox, #radio, #radio-optionalanswer, #checkbox-optionalanswer {
    margin-top: 5px;
}

.btn-checkbox, .btn-radio {
    border: none;
}

.btn-checkbox #icons, .btn-radio #icons {
    font-size: 14pt;
    position: relative;
    top: -1px;
}

.btn-checkbox .option-text, .btn-radio .option-text {
    position: relative;
    top: -2px;
}

.btn-checkbox:hover, .btn-radio:hover {
    background-color: #5bb85c;    
    color: #fff !important;
}

.btn-checkbox:hover > .option-text, .btn-radio:hover > .option-text {
    color: #fff !important;
    /*font-weight: bold;*/
}

.btn-option-checked {
    background-color: #5bb85c;
    color: #fff !important;
}

.btn-option-checked .option-text {
    color: #fff !important;
    /*font-weight: bold;*/
}

#ageSlider .slider-selection {
    background: #C0E4C0;
}

.slider-handle.green::before {
    color: #726204;
    background-color: #5bb85c
}

.switchButtonAddon {
    background-color: #eeeeee;
    color: #696969;
}
.switchButtonAddon:hover {
    background-color: #eeeeee;
    border-color: #cccccc;
    color: #303030 !important;
}

.input-group-addon {
    color: #696969 !important;
}
.input-group-addon:hover {
    color: #303030 !important;
}

.btn-addon {
    background: #eeeeee !important;
    border-color: #cccccc !important;
    color: #696969 !important;
}

.btn-addon:hover {
    color: #303030 !important;
    box-shadow: none;
}

.text-1px-border
{
    text-shadow: 
        -1px -1px 0px #000,
        0px -1px 0px #000,
        1px -1px 0px #000,
        -1px  0px 0px #000,
        1px  0px 0px #000,
        -1px  1px 0px #000,
        0px  1px 0px #000,
        1px  1px 0px #000;
}

.text-2px-border
{
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
        0px -1px 0px #000,
        1px -1px 0px #000,
        -1px  0px 0px #000,
        1px  0px 0px #000,
        -1px  1px 0px #000,
        0px  1px 0px #000,
        1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
        0px -2px 0px #000,
        1px -2px 0px #000,
        2px -2px 0px #000,
        2px -1px 0px #000,
        2px  0px 0px #000,
        2px  1px 0px #000,
        2px  2px 0px #000,
        1px  2px 0px #000,
        0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}


.recorder {
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
}

.recorder #recorder-video, .rtc-stream {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.recorder #seek-bar, .recorder #trim-seek-bar, .recorder #trim-bar {
    cursor: pointer;
}

.btn-joint-human-body {
    position: absolute; 
    font-size: 18pt; 
    cursor: pointer;

}

.btn-joint-human-body #toggle-icon {
    color: #C4C4C4;
}

.btn-joint-human-body > #toggle-icon:hover {
    color: #5bb85c;
}

.btn-joint-human-body.active > #toggle-icon {
    color: #5bb85c;
}

.joint-human-body {
    position: absolute; 
    font-size: 18pt; 
    color: #C4C4C4;
}

.joint-human-body.active > #toggle-icon {
    color: #5bb85c;
}


.text {
    color: #303030;
}

.panel-sm .panel-heading, .panel-sm .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.panel-sm .panel-footer {
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.rating-container {
    margin-bottom: 15px;
}

.rating-stars-container {
    font-size: 16pt;
    color: orange;
    margin-top: -8px;
}

.rating-headling {
    font-size: 10pt;
    line-height: 1.2em;
}

.btn-gesture-rating {
    overflow: hidden;
    display: inline;
}

.btn-gesture-rating-clickable {
    cursor: pointer;
}