/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.03.2016, 10:05:33
    Author     : danielkunkel
*/

.subpage-line {
    position: relative;
    top: 0px;
    width: 100%;
    height: 3px;
    background: #5cb85c;
    z-index: 0;
    /*margin-bottom: 60px;*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    background: -moz-linear-gradient(left, #5cb85c 0%, #75ea75 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #5cb85c 0%,#75ea75 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #5cb85c 0%,#75ea75 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#75ea75',GradientType=1 ); /* IE6-9 */
}

.mainContent {
    padding-top: 20px;
    padding-bottom: 40px;
}

.breadcrump-btn {
    cursor: pointer;
}

textarea {
    resize: vertical;
    max-height: 600px;
}

.custom-modal {
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 10000;
}

.navbar-brand {
    color: white;
}


.panel-create-study {
    border: 4px solid #5bb85c;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    transition: box-shadow 0.15s;
    cursor: pointer;
    color: #5bb85c;
    border-radius: 0px;
}

.panel-create-study:hover {
    color: white;
    background: #5bb85c;
}

.panel-create-study > .panel-heading:hover {
    background-color: #5bb85c !important;
    color: white !important;
}

.panel-create-study > .panel-heading {
    background-color: rgba(204,255,154,0.3) !important;
    padding: 25px;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5bb85c !important;
}

.form-group-no-margin {
    margin: 0;
}
.form-group-margin-top {
    margin-top: 10px;
    margin-bottom: 0px;
}


/* Thumscrubber 
.thumbscrubber {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden; 
    width: 200px; 
    height: 150px;
}
.thumbscrubber .ts-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.thumbscrubber .ts-inner > * {
    display:block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.thumbscrubber .ts-inner .ts-currslide {
    opacity: 1;
}

.thumbscrubber.smooth .ts-inner > * {
    transition: all .5s ease;
}*/

/*.gesture-thumbnail .panel-heading:hover {
    color: #5bb85c;
}*/

/*.gesture-thumbnail .selected {
    border-color: #5bb85c !important;
}*/
/*.selected .panel-heading {
    color: white !important;
    background-color: #5bb85c;
}*/

/*.gesture-thumbnail .panel-heading {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.gesture-thumbnail .collapse .in .panel-heading {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gesture-thumbnail .selected .collapse .in .panel-heading {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}*/

.description-text {
    position: relative;
    vertical-align:top;
    margin-left: 10px;
}

.dimension-btn-group {
    margin-top: -5px;
}

.dimension-btn-group .btn-toggle {
    margin-right: 8px;
    margin-bottom: 8px;
}

.btn-dropdown:focus {
    outline: none;
}

.show-dropdown {
    outline: none !important;
    cursor: pointer;
}