/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.05.2016, 13:31:55
    Author     : danielkunkel
*/

.gesture-modal-preview .previewGesture, .gesture-thumbnail .previewGesture {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
}

.gesture-modal-preview .mouseScrollable, .gesture-thumbnail .mouseScrollable {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.previewGesture {
/*    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;*/
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
    margin: auto;
}

.mouseScrollable {
    cursor: ew-resize;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mousePlayable {
    border-radius: 4px;
    cursor: pointer;
}

.previewProgress {
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gestureImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    
    /*border-radius: 4px;*/

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*.gesture-modal-preview .progress, .gesture-thumbnail .progress {
    height: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
}

.gesture-modal-preview .progress-bar, .gesture-thumbnail .progress-bar {
    transition-duration: 0.1s;
        -webkit-transition: none !important;
        transition: none !important;
}*/

.gestureControls {
    margin-top: 10px;
}

#popover-gesture {
    z-index: 1000;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 5px 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 5px 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.gesture-progress{
    height: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.gesture-progress-bar {
    height: 100%;
}

.mirroredHorizontally
{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.gesture-thumbnail .previewGesture {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gesture-thumbnail {
    cursor: pointer;
}

.gesture-thumbnail:hover {
    border-color: #b3b3b3;
}

.gesture-thumbnail.assembled {
    border-color: #0480be;
}
.gesture-thumbnail.assembled:hover {
    border-color: #385380;
}

.gesture-thumbnail .caption {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0px;
}

.gesture-thumbnail .gesture-name {
    margin: 0;
}

.gesture-thumbnail .thumbnail-footer {
    display: block;
    padding: 9px 0px 5px 0px;
    font-size: 14pt;
}

.gesture-thumbnail .thumbnail-footer div:not(.btn-show-gesture-info) {
    display: inline-block;
    margin-right: 10px;
}

.gesture-thumbnail .thumbnail-footer .btn-show-gesture-info {
    display: inline-block;
}

.gesture-thumbnail .btn-rate,
.gesture-thumbnail .btn-like,
.gesture-thumbnail .btn-share,
.gesture-thumbnail .btn-comment,
.gesture-thumbnail .btn-show-gesture-info,
.gesture-thumbnail .btn-tag-as-favorite-gesture,
.gesture-thumbnail .btn-add-gesture-to-scene,
.gesture-thumbnail .btn-tag-as-main-gesture,
.gesture-thumbnail .btn-edit-gesture-set
{
    cursor: pointer;
}

.btn-rate:hover,
.btn-like:hover,
.btn-share:hover,
.btn-comment:hover,
.btn-show-gesture-info:hover,
.btn-tag-as-favorite-gesture:hover,
.btn-add-gesture-to-scene:hover,
.gesture-shared>.fa:hover,
.gesture-liked>.fa:hover,
.gesture-rated>.fa:hover,
.btn-tag-as-favorite-gesture>.fa:hover, 
.btn-add-gesture-to-scene>.fa:hover,
.btn-tag-as-main-gesture>.fa:hover, 
.btn-edit-gesture-set>.fa:hover 
{
    color: black;
}

.gesture-liked .fa {
    color: #D42C29;
}

.gesture-shared .fa {
    color: #0480be;
}

.gesture-rated .fa {
    color: #f0ad4e;
}

.gesture-tagged .fa {
    color: #0480be;
}

.trigger-tagged {
    font-weight: bold;
}

.btn-like .amount, .btn-comment .amount, .btn-rate .amount {
    font-size: 9pt;
    position: relative;
    top:-2px;
}