/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.05.2016, 13:31:55
    Author     : danielkunkel
*/

.gesture-modal-preview .previewGesture, .gesture-thumbnail .previewGesture {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
}

.gesture-modal-preview .mouseScrollable, .gesture-thumbnail .mouseScrollable {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.previewGesture {
/*    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    overflow: hidden; 
    width: 100%; 
    margin: auto;
}

.mouseScrollable {
    cursor: ew-resize;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mousePlayable {
    cursor: pointer;
}

.previewProgress {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gestureImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    
    /*border-radius: 4px;*/

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*.gesture-modal-preview .progress, .gesture-thumbnail .progress {
    height: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
}

.gesture-modal-preview .progress-bar, .gesture-thumbnail .progress-bar {
    transition-duration: 0.1s;
        -webkit-transition: none !important;
        transition: none !important;
}*/

.gestureControls {
    margin-top: 10px;
}

#popover-gesture {
    z-index: 100;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 5px 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 5px 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.gesture-progress{
    height: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.gesture-progress-bar {
    height: 100%;
}

.mirroredHorizontally
{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}