/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.05.2016, 13:31:55
    Author     : danielkunkel
*/

.gesture-modal-preview .previewGesture, .gesture-thumbnail .previewGesture, .rudimentary-gesture-thumbnail .previewGesture {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
}

.gesture-modal-preview .mouseScrollable, .gesture-thumbnail .mouseScrollable {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.previewGesture {
    /*    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;*/
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
    margin: auto;
}

.mouseScrollable {
    cursor: ew-resize;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mousePlayable {
    border-radius: 4px;
    cursor: pointer;
}

.previewProgress {
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gestureImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;

    /*border-radius: 4px;*/

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /*border-radius: 4px*/
}

.gestureImage.roundedTop {
    border-radius: 4px 4px 0px 0px;
}

.gestureImage.rounded {
    border-radius: 4px;
}


.gestureControls {
    margin-top: 10px;
}

#popover-gesture {
    z-index: 1000;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 5px 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 5px 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.gesture-progress{
    height: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.gesture-progress-bar {
    height: 100%;
}

.mirroredHorizontally
{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.gesture-thumbnail {
    padding: 0;
    border: none;
    border-radius: 8px;
}

.gesture-thumbnail .gestureImage {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rudimentary-gesture-thumbnail .previewGesture {
    border-radius: 5px;
}

.gesture-thumbnail, .rudimentary-gesture-thumbnail {
    cursor: pointer;
}

.gesture-thumbnail:hover {
    /*border-color: #b3b3b3;*/
}

.gesture-thumbnail.assembled {
    border-color: #0480be;
}
.gesture-thumbnail.assembled:hover {
    /*border-color: #385380;*/
}

.gesture-thumbnail .caption {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0px;
}

.gesture-thumbnail .gesture-name {
    margin: 0;
}

.gesture-thumbnail .thumbnail-footer {
    display: block;
    padding: 9px 0px 5px 0px;
    font-size: 14pt;
}

.gesture-thumbnail .thumbnail-footer div:not(.btn-show-gesture-info) {
    display: inline-block;
    margin-right: 5px;
}

.gesture-thumbnail .thumbnail-footer .btn-show-gesture-info {
    display: inline-block;
}

.gesture-set-footer-controls div:not(.btn-show-set-info) {
    font-size: 14pt;
    display: inline-block;
    margin-right: 5px;
}

.gesture-set-footer-controls .btn-show-set-info {
    display: inline-block;
}

.gesture-thumbnail .btn-rate,
.gesture-thumbnail .btn-like,
.gesture-thumbnail .btn-share,
.gesture-thumbnail .btn-comment,
.gesture-thumbnail .btn-show-gesture-info,
.gesture-thumbnail .btn-tag-as-favorite-gesture,
.gesture-thumbnail .btn-add-gesture-to-scene,
.gesture-thumbnail .btn-tag-as-main-gesture,
.gesture-thumbnail .btn-delete-from-classification,
.gesture-thumbnail .btn-edit-gesture-set,
.gesture-thumbnail .btn-delete-exchangeable-gesture,
.gesture-set-footer-controls .btn-like-set,
.gesture-set-footer-controls .btn-share-set,
.gesture-set-footer-controls .btn-comment-set,
.gesture-set-footer-controls .btn-show-set-info
{
    cursor: pointer;
}

.btn-rate:hover,
.btn-like:hover,
.btn-share:hover,
.btn-comment:hover,
.btn-edit-gesture-set:hover,
.btn-show-gesture-info:hover,
.btn-tag-as-favorite-gesture:hover,
.btn-add-gesture-to-scene:hover,
.btn-delete-exchangeable-gesture:hover,
.gesture-set-shared>.fa:hover,
.gesture-liked>.fa:hover,
.gesture-set-liked>.fa:hover,
.gesture-rated>.fa:hover,
.gesture-is-in-set>.fa:hover
.btn-like-set:hover,
.btn-like-set>.fa:hover,
.btn-share-set:hover,
.btn-share-set>.fa:hover,
.btn-comment-set:hover,
.btn-comment-set>.fa:hover,
.btn-show-set-info:hover,
.gesture-is-in-set>.fa:hover,
.btn-tag-as-favorite-gesture>.fa:hover, 
.btn-add-gesture-to-scene>.fa:hover,
.btn-tag-as-main-gesture>.fa:hover, 
.btn-delete-from-classification>.fa:hover, 
.btn-edit-gesture-set>.fa:hover /*
.btn-delete-exchangeable-gesture>.fa:hover */
{
    color: black !important;
}

.btn-delete-gesture-from-set:hover {
    color: #d9534f;
}

.gesture-liked .fa, .gesture-set-liked .fa {
    color: #D42C29;
}

.gesture-shared, .gesture-set-shared {
    color: #0480be;
}

.gesture-rated .fa {
    color: #f0ad4e;
}

.gesture-tagged .fa {
    color: #0480be;
}

.gesture-is-in-set .fa {
    color: #0480be;
}

.btn-like .amount, .btn-comment .amount, .btn-rate .amount, .btn-share .amount, .btn-edit-gesture-set .amount,
.btn-like-set .amount, .btn-comment-set .amount, .btn-share-set .amount {
    font-size: 9pt;
    position: relative;
    top:-2px;
    left:-2px;
    color: #4d4d4d;
}

#dev-leap-playback-slider-container .slider-selection {
    background: none;
    box-shadow: none;
}
#dev-leap-playback-crop-slider-container .slider-selection {
    background: #0480BE;
    opacity: .2;
}

/*
* for gesturenote
*/
#leap-playback-slider-container .slider-handle, #webcam-playback-slider-container .slider-handle {
    opacity: 0;
}
#leap-playback-slider-container .slider-track, #webcam-playback-slider-container .slider-track {
    border-radius: 0px 0px 4px 4px;
}
#leap-playback-slider-container .slider-selection, #webcam-playback-slider-container .slider-selection {
    background: #0480BE;
    border-radius: 0px 0px 4px 4px;
}

.leap-playback-slider-container .slider-handle {
    background-color: #0480be;
    background-image: none;
}

/*
* gesture recorder slider
*/
#playback-webcam-slider-controls .slider-track, #playback-leap-slider-controls .slider-track {
    border-radius: 0px 0px 4px 4px;
}
#playback-webcam-slider-controls .slider-selection, #playback-leap-slider-controls .slider-selection {
    background: none;
    box-shadow: none;
}
#playback-webcam-crop-slider-controls .slider-selection, #playback-leap-crop-slider-controls .slider-selection {
    background: #0480BE;
    opacity: .2;
}
#playback-webcam-slider-controls .slider-rangeHighlight.isGesture, #playback-leap-slider-controls .slider-rangeHighlight.isGesture {
    border-radius: 0px 0px 4px 4px;
    background: #0480BE;
    opacity: .2;
}

/*#control-continuous-slider.disabled, #control-continuous-slider[disabled] {
    opacity: .65;
}

#control-continuous-slider.disabled .slider-track, #control-continuous-slider[disabled] .slider-track {
    cursor: not-allowed;
    pointer-events: none;
}*/

#control-continuous-slider .slider {
    /*height:100%;*/
}
#control-continuous-slider .slider-handle {
    opacity: 0;
    width:0;
    height:0;
}
#control-continuous-slider .slider-track {
    /*margin-top: -41px;*/
    border-radius: 0px 0px 8px 8px;
    height:34px;
}
#control-continuous-slider .slider-selection {
    background: #5cb85c;
    border-radius: 0px 0px 8px 8px;
}

.control-continuous-slider-status {
    background-color: rgba(0,0,0,.6);
    display: inline;
    position: absolute;
    bottom: 0px;
    font-size: 9pt;
    padding: 0px 5px;
    border-top-right-radius: 8px;
    color:white;
}

.btn-invert-slider-values {
    cursor: pointer;
    background-color: rgba(0,0,0,.6);
    display: inline;
    position: absolute;
    bottom: 0px;
    right:0px;
    font-size: 9pt;
    padding: 0px 5px;
    border-top-left-radius: 8px;
    color:white;
}
.btn-invert-slider-values:hover {
    background-color: rgba(0,0,0,.8);
}


.sensor-canvas {
    background-color: #eeeeee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-gesture-recorder-nav {
    font-size: 10pt;
    padding: 4px 9px !important;
}

#btn-toggle-cropping.cropping {
    color: #5bc0de;
}

.btn-gesture-shadow {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0, .2);
    transition: box-shadow 0.15s;
}
.btn-gesture-shadow:hover {
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0, .3);
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.tagged-symbol {
    width: 30px; 
    height: 28px; 
    background-color: white; 
    border-top-left-radius: 8px; 
    border-bottom-right-radius: 10px; 
    position: absolute;display: flex;
    align-items: center;
    justify-content: center; 
    color: #4d4d4d;
}



.gesture-info-symbols {
    display: flex;
    position: absolute;
    right: 0px;
    padding: 6px;
    background-color: rgba(255,255,255,1);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 4px;
}

.gesture-info-symbols.small {
    padding: 4px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 4px;
}

.gesture-info-symbol {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
.gesture-info-symbol.small {
    width: 6px;
    height: 6px;
}


.symbol-container-gesture-execution {
    display: flex;
    cursor: pointer;
}
.symbol-container-gesture-interaction {
    display: flex;
    cursor: pointer;
}
.symbol-gesture-execution {
    margin-right: 6px;
}
.symbol-gesture-execution.small {
    margin-right: 4px;
}

.symbol-gesture-execution.pose {
    background-color: #97CB00;
}

.symbol-gesture-execution.dynamic {
    background-color: #4BACC6;
}

.symbol-gesture-execution.mixed {
    background-color: #343C68;
}

.symbol-gesture-interaction.discrete {
    background-color: #7030A0;
}

.symbol-gesture-interaction.continuous {
    background-color: #FFCB00;
}

.symbol-gesture-interaction.mixed {
    background-color: #C90F5A;
}

.gesture-info-symbol-text {
    font-size: 8pt; 
    position: relative; 
    top: 5px; 
    line-height: 0pt;
    margin-right: 1px;
    text-transform: uppercase;
}
.gesture-info-symbol-text.small {
    font-size: 6pt; 
    position: relative; 
    top: 3px; 
    line-height: 0pt;
    margin-right: 1px;
    text-transform: uppercase;
}
.symbol-container-gesture-sets {
    display: flex;
    cursor: pointer;
    margin-left: 6px;
}
.gesture-sets-info-symbol-text {
    font-size: 8pt; 
    position: relative; 
    top: 5px; 
    line-height: 0pt;
    margin-right: 1px;
    text-transform: uppercase;
}