/*
    Created on : 31.01.2019, 10:53:55
    Author     : dominikrupprecht
*/

#control-continuous-slider .slider-selection {
    background: #5cb85c;
    border-radius: 8px;
}

#control-continuous-slider .slider-track {
    /* margin-top: -41px; */
    border-radius: 8px;
    height: 34px;
}

/*#playback-slider-container .slider-selection {
    background: #5cb85c;
    border-radius: 8px;
}

#playback-slider-container .slider-track {
     margin-top: -41px; 
    border-radius: 8px;
    height: 34px;
}*/


#playback-slider-container .slider-handle {
    left: 50%;
    height: 34px;
    border-radius: 8px;
    top: 5px;
}
#playback-slider-container .slider-track {
    /*margin-top: -41px;*/
    /*border-radius: 0px 0px 8px 8px;*/
    border-radius: 8px;
    height:34px;
}
#playback-slider-container .slider-selection {
    /*background: #5cb85c;*/
    /*border-radius: 0px 0px 8px 8px;*/
    display: none;
}

.positionArea {
    border: 1px solid black;
    width: 80%;
    height: 400px;
    margin-left: 10%;
}

.showTriggeredGesture {
    background-color: green;
}

.prev-2 {
    /*margin-left: 40px;*/
    opacity: .45;
    filter: blur(3px) grayscale(1);
    /*transform: scale(.8);*/
    /*    -webkit-filter: grayscale(80%);  Safari 6.0 - 9.0 
        filter: grayscale(80%);*/
/*    transform-origin: 0 0;
    transform: scale(.5, .5);
    height:150px;
    display: grid;
    height: 158px;*/
}
.prev-1 {
    /*margin-left: 20px;*/
    opacity: .7;
    filter: blur(1px) grayscale(.5);
    /*transform: scale(.9);*/
    /*    -webkit-filter: grayscale(60%);  Safari 6.0 - 9.0 
        filter: grayscale(60%);*/
/*    transform-origin: 0 0;
    transform: scale(0.6, 0.6);
    height:180px;
    display: grid;
    height: 190px;*/
}
.next-1 {
    /*pointer-events: none;*/
    /*margin-left: 20px;*/
    opacity: .7;
    filter: blur(1px)  grayscale(.5);
    /*transform: scale(.9);*/
    /*    -webkit-filter: grayscale(60%);  Safari 6.0 - 9.0 
        filter: grayscale(60%);*/
/*    transform-origin: 0 0;
    transform: scale(0.6, 0.6);
    display: grid;
    height: 190px;*/
}
.next-2 {
    /*pointer-events: none;*/
    /*margin-left: 40px;*/
    opacity: .45;
    filter: blur(3px) grayscale(1);
    /*transform: scale(.8);*/
    /*    -webkit-filter: grayscale(80%);  Safari 6.0 - 9.0 
        filter: grayscale(80%);*/
/*    transform-origin: 0 0;
    transform: scale(.5, .5);
    display: grid;
    height: 158px;*/
}
/*.next-3 {

    margin-left: 60px;
    opacity: .2;
    filter: blur(4px) grayscale(1);
    transform: scale(.7);
        -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
        filter: grayscale(100%);
    transform-origin: 0 0;
    transform: scale(.3, .3);
    display: grid;
    height: 111px;
}*/

.next-3 .gesture-thumbnail, .next-2 .gesture-thumbnail, .next-1 .gesture-thumbnail, .prev-1 .gesture-thumbnail, .prev-2 .gesture-thumbnail {
    pointer-events: none;
}

.cursor-simulation {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0, .9);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0, .9);
    box-shadow: 0px 0px 7px rgba(0,0,0, .9);
}