/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.08.2016, 18:08:54
    Author     : danielkunkel
*/

.study-phase-step {
    /*margin-top: -4px;*/
}

.study-phase-step .study-phase-icon-container {
    width: 35px;
    height: 35px;
    display: inline;
}

.study-phase-step .study-phase-step-icon {
    display: block;
    position: absolute;
    font-size: 35pt;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.study-phase-step .study-phase-step-color-icon {
    display: block;
    position: absolute;
    font-size: 35pt;
}

.study-phase-step .study-phase-step-middle-icon {
    display: block;
    position: absolute;
    font-size: 17pt;
    margin-top: 2px;
    margin-left: 13px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.study-phase-step .study-phase-step-middle-icon-small {
    display: block;
    position: absolute;
    font-size: 14pt;
    margin-top: 5px;
    margin-left: 9px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

#phase-steps-container .study-phase-step-transition {
    font-size: 23pt; 
    margin-left: 13px; 
    margin-top: 2px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.study-phase-step .text {
    /*    position: relative; 
        top: 10px; 
        margin-left: 50px;*/
}

/*#phase-results-nav > .nav-pills > li > a {
  background: #FFF;
  border-radius: 0;
  color: #777;
  border-right: 5px solid #ddd;
}
#phase-results-nav > .nav-pills>li.active>a,
#phase-results-nav > .nav-pills>li.active>a:hover,
#phase-results-nav > .nav-pills>li.active>a:focus {
  background: #f7f7f7;
  border-radius: 0;
  color: #777;
  border-right: 5px solid #005090;
}
#phase-results-nav > .nav-pills > li {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}*/

.bordered-scale-item {
    border: solid 2px #337ab7;
}

.vis-item.invisible {
    visibility: hidden;
}


.vis-item.item-primary {
    color: #428bca;
    background-color: #c9e6fe;
    border-color: #428bca;
}
.vis-item.item-primary-full {
    color: white;
    background-color: #428bca;
    border-color: #428bca;
}

.vis-item.item-advanced-primary {
    color: #428bca;
    background-color: #c9e6fe;
    border-color: #428bca;
}
.vis-item.item-advanced-primary-full {
    color: white;
    background-color: #428bca;
    border-color: #428bca;
}

.vis-item.item-info {
    color: #5bc0de;
    background-color: #D4EFF6;
    border-color: #5bc0de;
}
.vis-item.item-info-full {
    color: white;
    background-color: #5bc0de;
    border-color: #5bc0de;
}


.vis-item.item-success {
    color: #5cb85c;
    background-color: #cafeca;
    border-color: #5cb85c;
}
.vis-item.item-success-full {
    color: white;
    background-color: #5cb85c;
    border-color: #5cb85c;
}


.vis-item.item-danger {
    color: #d9534f;
    background-color: #ffbebc;
    border-color: #d9534f;
}
.vis-item.item-danger-full {
    color: white;
    background-color: #d9534f;
    border-color: #d9534f;
}


.vis-item.item-warning {
    color: #ec971f;
    background-color: #ffeed6;
    border-color: #ec971f;
}
.vis-item.item-warning-full {
    color: white;
    background-color: #ec971f;
    border-color: #ec971f;
}

.btn-tag-as-main-trigger {
    cursor: pointer;
}
.trigger-tagged {
    font-weight: bold;
}


.seekbarInfoData {
    width: 2px;
    height: 10px;
    opacity: 0.3;
    position: absolute;
}
.seekbarInfoData.item-primary-full {
    background-color: #428bca;
}
.seekbarInfoData.item-advanced-primary-full {
    background-color: #428bca;
}
.seekbarInfoData.item-info-full {
    background-color: #5bc0de;
}
.seekbarInfoData.item-success-full {
    background-color: #5cb85c;
}
.seekbarInfoData.item-warning-full {
    background-color: #ec971f;
}
.seekbarInfoData.item-danger-full {
    background-color: #d9534f;
}

.link-list-item-url {
    cursor: pointer;
    display: inline;
    font-size: 10pt;
    margin-right: 5px;
}
.link-list-item-url:hover {
    text-decoration: underline;
}
.link-list-item-url .link-list-item-title.item-advanced-primary-full {
    color: #428bca;
}
.link-list-item-url .link-list-item-title.item-success-full {
    color: #5cb85c;
}
.link-list-item-url .link-list-item-title.item-info-full {
    color: #5bc0de;
}
.link-list-item-url .link-list-item-title.item-danger-full {
    color: #d9534f;
}
.link-list-item-url .link-list-item-title.item-warning-full {
    color: #ec971f;
}
/*.link-list-item-url .link-list-item-time {
    color: #428bca;
}*/

.btn-delete-annotation {
    cursor: pointer;
    font-size: 10pt;
}
.btn-delete-annotation:hover {
    color: #d9534f
}


.shared-list-item {
    display: inline;
    /*font-size: 10pt;*/
}
.shared-study-item-email {
    margin-right: 5px;
}

.btn-uninvite-user {
    cursor: pointer;
    /*font-size: 10pt;*/
}
.btn-uninvite-user:hover {
    color: #d9534f
}


#webcam-video-container.shrinked {
    position: absolute;
    top: 60px;
}
#tester-video-container.shrinked {
    cursor: pointer;
    opacity: .4;
}
#tester-video-container:hover {
    opacity: 1;
}
#moderator-video-container.shrinked {
    cursor: pointer;
    opacity: .4;
}
#moderator-video-container:hover {
    opacity: 1;
}