/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.08.2016, 18:08:54
    Author     : danielkunkel
*/

.study-phase-step {
    margin-top: -4px;
}

.study-phase-step .study-phase-icon-container {
    width: 35px;
    height: 35px;
    display: inline;
}

.study-phase-step .study-phase-step-icon {
    display: block;
    position: absolute;
    font-size: 35pt;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.study-phase-step .study-phase-step-color-icon {
    display: block;
    position: absolute;
    font-size: 35pt;
}

.study-phase-step .study-phase-step-middle-icon {
    display: block;
    position: absolute;
    font-size: 17pt;
    margin-top: 2px;
    margin-left: 13px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.study-phase-step .study-phase-step-middle-icon-small {
    display: block;
    position: absolute;
    font-size: 14pt;
    margin-top: 5px;
    margin-left: 9px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

#phase-steps-container .study-phase-step-transition {
    font-size: 23pt; 
    margin-left: 13px; 
    margin-top: 2px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.study-phase-step .text {
    position: relative; 
    top: 10px; 
    margin-left: 50px;
}

/*#phase-results-nav > .nav-pills > li > a {
  background: #FFF;
  border-radius: 0;
  color: #777;
  border-right: 5px solid #ddd;
}
#phase-results-nav > .nav-pills>li.active>a,
#phase-results-nav > .nav-pills>li.active>a:hover,
#phase-results-nav > .nav-pills>li.active>a:focus {
  background: #f7f7f7;
  border-radius: 0;
  color: #777;
  border-right: 5px solid #005090;
}
#phase-results-nav > .nav-pills > li {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}*/

.bordered-scale-item {
    border: solid 2px #337ab7;
}

.vis-item.invisible {
    visibility: hidden;
}


.vis-item.item-primary {
    color: #428bca;
    background-color: #c9e6fe;
    border-color: #428bca;
}
.vis-item.item-primary-full {
    color: white;
    background-color: #428bca;
    border-color: #428bca;
}


.vis-item.item-success {
    color: #5cb85c;
    background-color: #cafeca;
    border-color: #5cb85c;
}
.vis-item.item-success-full {
    color: white;
    background-color: #5cb85c;
    border-color: #5cb85c;
}


.vis-item.item-danger {
    color: #d9534f;
    background-color: #ffbebc;
    border-color: #d9534f;
}
.vis-item.item-danger-full {
    color: white;
    background-color: #d9534f;
    border-color: #d9534f;
}


.vis-item.item-warning {
    color: #ec971f;
    background-color: #ffeed6;
    border-color: #ec971f;
}
.vis-item.item-warning-full {
    color: white;
    background-color: #ec971f;
    border-color: #ec971f;
}