/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.08.2016, 18:08:54
    Author     : danielkunkel
*/

.study-phase-step {
    /*margin-top: -4px;*/
}

.study-phase-step .study-phase-icon-container {
    width: 35px;
    height: 35px;
    display: inline;
}

.study-phase-step .study-phase-step-icon {
    display: block;
    position: absolute;
    font-size: 35pt;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.study-phase-step .study-phase-step-color-icon {
    display: block;
    position: absolute;
    font-size: 35pt;
}

.study-phase-step .study-phase-step-middle-icon {
    display: block;
    position: absolute;
    font-size: 17pt;
    margin-top: 2px;
    margin-left: 13px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.study-phase-step .study-phase-step-middle-icon-small {
    display: block;
    position: absolute;
    font-size: 14pt;
    margin-top: 5px;
    margin-left: 9px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

#phase-steps-container .study-phase-step-transition {
    font-size: 23pt; 
    margin-left: 13px; 
    margin-top: 2px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.study-phase-step .text {
    /*    position: relative; 
        top: 10px; 
        margin-left: 50px;*/
}

/*#phase-results-nav > .nav-pills > li > a {
  background: #FFF;
  border-radius: 0;
  color: #777;
  border-right: 5px solid #ddd;
}
#phase-results-nav > .nav-pills>li.active>a,
#phase-results-nav > .nav-pills>li.active>a:hover,
#phase-results-nav > .nav-pills>li.active>a:focus {
  background: #f7f7f7;
  border-radius: 0;
  color: #777;
  border-right: 5px solid #005090;
}
#phase-results-nav > .nav-pills > li {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}*/

.bordered-scale-item {
    border: solid 2px #337ab7;
    border-radius: 8px;
}

.vis-timeline {
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border: none;
}

.vis-custom-time {
    width: 6px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.4);
    background-color: #fff;
    z-index: 2;
    opacity: .5;
    transform: translateX(-3px);
    pointer-events: none;
}

.vis-item {
    cursor: pointer;
}

.vis-item.vis-box {
    border-radius: 8px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,.1);
}

.vis-item.invisible {
    visibility: hidden;
}

.vis-dot {
    opacity: 0;
}
.vis-item.vis-line {
    width: 2px;
}

.vis-time-axis.vis-background {
    opacity: .5;
}


.vis-item.item-primary {
    color: #428bca;
    background-color: #c9e6fe;
    border-color: #428bca;
}
.vis-item.item-primary-full {
    color: white;
    background-color: #428bca;
    border-color: #428bca;
}

.vis-item.item-advanced-primary {
    color: #5a5a5a;
    background-color: #bdbdbd;
    border-color: #5a5a5a;
}
.vis-item.item-advanced-primary-full {
    color: white;
    background-color: #5a5a5a;
    border-color: #5a5a5a;
}

.vis-item.item-info {
    color: #5bc0de;
    background-color: #D4EFF6;
    border-color: #5bc0de;
}
.vis-item.item-info-full {
    color: white;
    background-color: #5bc0de;
    border-color: #5bc0de;
}


.vis-item.item-success {
    color: #5cb85c;
    background-color: #cafeca;
    border-color: #5cb85c;
}
.vis-item.item-success-full {
    color: white;
    background-color: #5cb85c;
    border-color: #5cb85c;
}


.vis-item.item-danger {
    color: #d9534f;
    background-color: #ffbebc;
    border-color: #d9534f;
}
.vis-item.item-danger-full {
    color: white;
    background-color: #d9534f;
    border-color: #d9534f;
}


.vis-item.item-warning {
    color: #ec971f;
    background-color: #ffeed6;
    border-color: #ec971f;
}
.vis-item.item-warning-full {
    color: white;
    background-color: #ec971f;
    border-color: #ec971f;
}

:root {
    --chartTextColor: black;

}
:root {
    --chartBorderColor: rgba(0,0,0,0);
}
.dark :root {
    --chartTextColor: white;
}
/*.chartTextColor {
    color: #d9534f;
}
.chartBorderColor {
    border-color: #5cb85c;
}*/

.btn-tag-as-main-trigger {
    cursor: pointer;
}
.trigger-tagged {
    font-weight: bold;
}


.seekbarInfoData {
    width: 2px;
    height: 10px;
    opacity: 0.3;
    position: absolute;
    transform: translateX(-1px);
}
.seekbarInfoData.item-primary-full {
    background-color: #428bca;
}
.seekbarInfoData.item-advanced-primary-full {
    background-color: #5a5a5a;
}
.seekbarInfoData.item-info-full {
    background-color: #5bc0de;
}
.seekbarInfoData.item-success-full {
    background-color: #5cb85c;
}
.seekbarInfoData.item-warning-full {
    background-color: #ec971f;
}
.seekbarInfoData.item-danger-full {
    background-color: #d9534f;
}

#playback-slider-container .slider-handle {
    left: 50%;
    height: 30px;
    border-radius: 8px;
    top: 5px;
    box-shadow: 0px 0px 5px;
}
#playback-slider-container .slider-track {
    border-radius: 8px;
    height:30px;
}

#playback-slider-container .slider-selection {
    display: none;
}

.link-list-item-url {
    cursor: pointer;
    display: inline;
    font-size: 10pt;
    margin-right: 5px;
}
.link-list-item-url:hover {
    text-decoration: underline;
}
.link-list-item-url .link-list-item-title.item-advanced-primary-full {
    color: #5a5a5a;
}
.link-list-item-url .link-list-item-title.item-primary-full {
    color: #428bca !important;
}
.link-list-item-url .link-list-item-title.item-success-full {
    color: #5cb85c !important;
}
.link-list-item-url .link-list-item-title.item-info-full {
    color: #5bc0de !important;
}
.link-list-item-url .link-list-item-title.item-danger-full {
    color: #d9534f !important;
}
.link-list-item-url .link-list-item-title.item-warning-full {
    color: #ec971f !important;
}
/*.link-list-item-url .link-list-item-time {
    color: #428bca;
}*/

.btn-delete-annotation {
    cursor: pointer;
    font-size: 10pt;
}
.btn-delete-annotation.disabled {
    cursor: not-allowed;
    font-size: 10pt;
    color: #bdbdbd;
}
.btn-delete-annotation:hover {
    color: #d9534f;
}
.btn-delete-annotation.disabled:hover {
    color: #bdbdbd;
}

.btn-edit-annotation {
    cursor: pointer;
    font-size: 10pt;
}
.btn-edit-annotation.disabled {
    cursor: not-allowed;
    font-size: 10pt;
    color: #bdbdbd;
}
.btn-edit-annotation:hover {
    color: #000;
}
.btn-edit-annotation.disabled:hover {
    color: #bdbdbd;
}

.btn-cancel-edit-annotation {
    cursor: pointer;
    font-size: 10pt;
}
.btn-cancel-edit-annotation:hover {
    color: #000;
}


#webcam-video-container.shrinked {
    position: absolute;
    top: 60px;
}
#tester-video-container.shrinked {
    cursor: pointer;
    opacity: .4;
}
#tester-video-container:hover {
    opacity: 1;
}
#moderator-video-container.shrinked {
    cursor: pointer;
    opacity: .4;
}
#moderator-video-container:hover {
    opacity: 1;
}

.btn-video-adjustment {
    background-color: rgba(0,0,0,0.8); 
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
    color: white;
    font-size: 7pt;
}

.btn-video-adjustment.selected {
    background-color: #337ab7;
}

#video-trim-marker {
    /*padding-right: 30px;*/
    position: inherit;
}

.video-trim-marker-start {
    width: 2px;
    background-color: #5cb85c;
    height: 30px;
    position: absolute;
    transform: translateX(-1px);
    pointer-events: none;
}

.video-trim-marker-end {
    width: 2px;
    background-color: #d9534f;
    height: 30px;
    position: absolute;
    transform: translateX(-1px);
    pointer-events: none;
}

.dark .btn-edit-annotation.disabled {
    cursor: not-allowed;
    font-size: 10pt;
    color: rgba(255,255,255,.6);
}
.dark .btn-edit-annotation:hover {
    color: white;
}
.dark .btn-edit-annotation.disabled:hover {
    color: rgba(255,255,255,.6);
}

.dark .btn-cancel-edit-annotation:hover {
    color: white;
}

.dark .item-advanced-primary-full {
    border-color: #737373;
}

.dark #seek-bar-meta-info-container .item-advanced-primary-full {
    background-color: #dcdcdc
}

.dark .participant-snapshot-background {
    background-color: #464646 !important;
    color: #797979;
}

.dark #accordance-amount {
    color: rgba(255,255,255,.7) !important;
}

.dark .table-bordered {
    
}

.dark #playback-slider-container .slider-handle {
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
}