/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.03.2016, 17:39:49
    Author     : danielkunkel
*/

#studyDescription {
    resize: vertical;
    max-height: 400px;
}

.input-group-addon {
    cursor: pointer;
    color: #818181;
}

.input-group-addon:hover {
    color: #303030;
}

#addPhaseStepSelectAddon {
    width: 3%;
}
#addPhaseStepSelect {
    width: 6%;
}

#addFormatSelectAddon {
    width: 2%;
}
#addFormatSelect {
    width: 8%;
}

.info-addon-disabled {
    color: #bbbbbb;
}

.info-addon-disabled:hover {
    cursor: not-allowed;
    color: #bbbbbb;
}

.inactive-button {
    transition: none;
}
.inactive-button:hover
{
    box-shadow: none;
    background: #fff;
    border-color: #cccccc;
}

.panel.used {
    opacity: 1.0;
    -webkit-filter: none;
    filter: none;
}

.panel.not-used {
    opacity: 0.35;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}