/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.05.2016, 10:40:54
    Author     : danielkunkel
*/

#progressTop .progress {
    border-radius: 0px;
    /*height: 24px;*/
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

#progressTop {
    width: 100%;
    position: fixed;
    top: 87px;
    z-index: 500;
}

#custom-modal {
    z-index: 9999;
}

#btn-phaseStepSelect {
    border-radius: 0px;
}

#preview-bar-top {
    z-index: 501;
    background-color: #303030;
}

.web-rtc-placeholder {
    border-radius: 5px;
    border: 1px solid #eeeeee;
}
.web-rtc-placeholder img {
    pointer-events: none;
}



#column-left {
    /*margin-top: 20px;*/
}

#justification {
    margin-top: 10px;
}

.justification-title, .help-title, .option-text {
    font-weight: normal;
    line-height: 1.3em;
    color: #303030;
    /*padding: 0;*/
    /*margin: 0;*/
}

.title {
    color: black;
}

#rating-header {
    color: #303030;
}

#pager-bottom {
    z-index: 500;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.progress-bar-slideshow, 
.progress-bar-training, 
.progress-bar-hint {
    -webkit-transition: initial !important;
    -o-transition: initial !important;
    transition: initial !important;
}

.progress-bar-slideshow.active, .progress-slideshow.active .progress-bar, 
.progress-bar-training.active, .progress-training.active .progress-bar,
.progress-bar-hint.active, .progress-hint.active .progress-bar {
    -webkit-animation: initial !important;
    -o-animation: initial !important;
    animation: initial !important;
}

.btn-toggle-rtc-fixed {
    border-top-right-radius: 3px;
    border-bottom-left-radius: 7px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    background-color: rgba(0,0,0,.3);
}
.btn-toggle-rtc-fixed:hover {
    background-color: rgba(0,0,0,.6);
    color: white;
}

#generalPanel {
    padding: 10px 20px 10px 20px; 
    width: 100%; 
    background-color: #fff; 
    position:fixed; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    /*cursor: pointer;*/
}

#btn-show-scenario-info, #btn-hide-scenario-info {
    color: #303030;
}
#btn-show-scenario-info:hover, #btn-hide-scenario-info:hover {
    color: #303030;
}

#woz-scenario-text {
    color: white;
    font-size: 30pt;
    padding: 20px 35px 25px 35px;
    line-height: 1.2em;
    word-spacing: 0.2em;
    background-color: rgba(0,0,0,.75);
    max-width: 700px;
    border-radius: 30px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
    align-self: center;
}

.hint {
    z-index: 1000;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    /* May want to do this if there is risk the container may be narrower than the element inside */
    /*white-space: nowrap;*/
    background-color: rgba(0,0,0,0.3);
}

.hint:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.hint-content {
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    color: white;
    font-size: 30pt;
    padding: 20px 35px 25px 35px;
    line-height: 1.2em;
    word-spacing: 0.2em;
    background-color: rgba(0,0,0,.75);
    max-width: 1000px;
    min-width: 500px;
    border-radius: 30px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
}

.bordered-scale-item {
    padding-left: 7px;
    padding-right: 7px;
    border: solid 2px #337ab7;
}

/*.btn-ban-sensor {
    color: #303030;
    cursor: pointer;
}
.btn-ban-sensor:hover {
    color: #d9534f;
}*/