/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.05.2016, 10:40:54
    Author     : danielkunkel
*/

.progress {
    border-radius: 0px;
    /*height: 24px;*/
}

#progressTop {
    width: 100%;
    position: fixed;
    top: 53px;
}