/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.05.2016, 10:40:54
    Author     : danielkunkel
*/

.progress {
    border-radius: 0px;
    /*height: 24px;*/
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

#progressTop {
    width: 100%;
    position: fixed;
    top: 53px;
    z-index: 500;
}

#custom-modal {
    z-index: 9999;
}

#btn-phaseStepSelect {
    border-radius: 0px;
}

#preview-bar-top {
    z-index: 501;
    background-color: #303030;
}

#web-rtc-placeholder {
    border-radius: 5px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

#justification {
    margin-top: 10px;
}

.question, .justification-title, .help-title, .option-text {
    font-weight: normal;
    line-height: 1.3em;
    color: #303030;
    /*padding: 0;*/
    /*margin: 0;*/
}

#rating-header {
    color: #303030;
}

#pager-top {
    z-index: 500;
    position: fixed;
    top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/* gesture image container */
.imageContainer {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
}

.mouseScrollable {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gestureImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}