/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.05.2016, 10:40:54
    Author     : danielkunkel
*/

#progressTop .progress {
    border-radius: 0px;
    /*height: 24px;*/
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

#progressTop {
    width: 100%;
    position: fixed;
    top: 53px;
    z-index: 500;
}

#custom-modal {
    z-index: 9999;
}

#btn-phaseStepSelect {
    border-radius: 0px;
}

#preview-bar-top {
    z-index: 501;
    background-color: #303030;
}

.web-rtc-placeholder {
    border-radius: 5px;
    border: 1px solid #eeeeee;
}
.web-rtc-placeholder img, #resize-sign {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#column-left {
    margin-top: 20px;
}

#justification {
    margin-top: 10px;
}

.justification-title, .help-title, .option-text {
    font-weight: normal;
    line-height: 1.3em;
    color: #303030;
    /*padding: 0;*/
    /*margin: 0;*/
}
.question {
    font-weight: bold;
    line-height: 1.3em;
    color: #303030;
    font-size: 10pt;
}

.title {
    color: black;
}

#rating-header {
    color: #303030;
}

#pager-top {
    z-index: 500;
    position: fixed;
    top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/* gesture image container */
.imageContainer {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden; 
    width: 100%; 
}

.mouseScrollable {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gestureImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.progress-bar-slideshow {
    -webkit-transition: initial !important;
    -o-transition: initial !important;
    transition: initial !important;
}

.progress-bar-slideshow.active, .progress-slideshow.active .progress-bar {
    -webkit-animation: initial !important;
    -o-animation: initial !important;
    animation: initial !important;
}

#btn-toggle-rtc-fixed {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 7px;
    color: #303030;
}
#btn-toggle-rtc-fixed:hover {
    background-color: #99366E;
    color: #eeeeee;
}

/*#draggableRTC {
    -webkit-box-shadow: 0px 4px 7px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 4px 7px rgba(0,0,0, .2);
    box-shadow: 0px 4px 7px rgba(0,0,0, .2);
}*/

.btn-checkbox {
    border: none;
    margin-top: 5px;
}

.btn-checkbox #icons {
    font-size: 14pt;
    position: relative;
    top: -1px;
}

.btn-checkbox .option-text {
    position: relative;
    top: -1px;
}

.btn-checkbox:hover {
    background-color: #5bb85c;    
    color: #fff !important;
}

.btn-checkbox:hover > .option-text {
    color: #fff !important;
    font-weight: bold;
}

.btn-checkbox-checked {
    background-color: #5bb85c;
    color: #fff !important;
}

.btn-checkbox-checked .option-text {
    color: #fff !important;
    font-weight: bold;
}