/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.03.2016, 10:05:33
    Author     : danielkunkel
*/

.line {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 3px;
    background-color: #B85B90;
    z-index: 9998;
    margin-bottom: 60px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.mainContent {
    padding-top: 60px;
    padding-bottom: 40px;
}

.breadcrump-btn {
    cursor: pointer;
}

textarea {
    resize: vertical;
    max-height: 600px;
}

.custom-modal {
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 10000;
}


.panel-create-project {
    border: 4px solid #5bb85c;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    transition: box-shadow 0.15s;
    cursor: pointer;
    color: #5bb85c;
    border-radius: 0px;
}

.panel-create-project:hover {
    color: white;
    background: #5bb85c;
}

.panel-create-project > .panel-heading:hover {
    background-color: #5bb85c !important;
    color: white !important;
}

.panel-create-project > .panel-heading {
    background-color: rgba(204,255,154,0.3) !important;
    padding: 25px;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5bb85c !important;
}

.form-group-no-margin {
    margin: 0;
}
.form-group-margin-top {
    margin-top: 10px;
    margin-bottom: 0px;
}

.btn-addon {
    background: #eeeeee !important;
    border-color: #cccccc !important;
    color: #818181 !important;
}

.btn-addon:hover {
    color: #303030 !important;
    box-shadow: none;
}


/* Thumscrubber */
.thumbscrubber {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden; 
    width: 200px; 
    height: 150px;
}
.thumbscrubber .ts-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.thumbscrubber .ts-inner > * {
    display:block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.thumbscrubber .ts-inner .ts-currslide {
    opacity: 1;
}

.thumbscrubber.smooth .ts-inner > * {
    transition: all .5s ease;
}

.gesture-thumbnail {
    cursor: pointer;
}
.gesture-thumbnail:hover {
    border-color: #5bb85c;
}
.gesture-thumbnail .panel-heading:hover {
    color: #5bb85c;
}

.selected .panel-heading {
    color: white !important;
    background-color: #5bb85c;
}

.gesture-thumbnail .panel-heading {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.gesture-thumbnail .collapse .in .panel-heading {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gesture-thumbnail .selected .collapse .in .panel-heading {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.description-text {
    position: relative;
    vertical-align:top;
    margin-left: 10px;
}

#dimension-btn-group .btn-toggle {
    margin-top: 10px;
    margin-right: 10px;
}

.btn-dropdown:focus {
    outline: none;
}

.show-dropdown {
    outline: none !important;
    cursor: pointer;
}