/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.02.2016, 15:00:48
    Author     : danielkuenkel
*/

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    padding-bottom: 70px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  

.navbar-brand {
    cursor: pointer;
}

.jumbotron {
    background: url('../img/jumbotron-background.png') repeat center center;
    background-color: #5bb85c;
    color: #fff;
    padding: 160px 25px 110px 25px;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.line {
    height: 3px;
    background-color: #B85B90;
    z-index: 9998;
    
}
.line.affix {
    top: 50px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #5bb85c;
    font-size: 50px;
}
.logo {
    color: #5bb85c;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel-custom {
    border: 0px solid;
    cursor: pointer;
    color: #818181;
    border-radius: 0px;
    transition: box-shadow 0.15s;
}
.panel-custom:hover {
    color: #303030;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

/*.panel-default-shadow {
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.panel-default-shadow:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}*/

.panel-custom-pink {
    border: 1px solid #B85B90;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-radius: 6px;
}

.panel-custom-pink > .panel-heading {
    color: white !important;
    background-color: #B85B90 !important;
    padding: 25px;
    border-radius: 0px;
    border-top-width: 4px !important;
    border-top-color: #ca3667 !important;
    font-weight: bold;
    text-transform: uppercase;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel-custom-pink > .panel-body{
    background-color: white !important;
    border-width: 1px;
    border-color: #bbbbbb !important;
}

.panel-custom-pink > .panel-footer {
    background-color: white !important;
    border-width: 1px;
    border-color: #eeeeee !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.panel-footer .btn:hover {
    /*border: 1px solid #ca3667;*/
    /*background-color: #fff !important;*/
    color: #ca3667 !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #303030;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #303030;
}


.navbar {
    margin-bottom: 0;
    background-color: #303030;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ca3667 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ca3667;
}

.gn {
    color: #B85B90;
}

.btn-gn {
    color: white;
    border-color: #B85B90;
    background: #B85B90;
}
.btn-gn:hover{
    background: #99366E;
    border-color: #99366E;
    color: white;
}
.btn-gn-green {
    border-radius: 24px;
}

.btn {
    transition: box-shadow 0.15s;
}
.btn:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.btn-lg {
    font-weight: bold;
/*    text-transform: uppercase;*/
}

.footer-copyright {
    letter-spacing: 1px;
    margin-top: 18px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}

.nav-pills {
    letter-spacing: 1px;
    margin-top: 9px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}
.nav-pills :hover, .nav-pills .btn-primary {
    background-color: transparent !important;
    border-color: white;
    border: 2px white;
    text-decoration: underline;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;	
    animation-duration: 0.3s;	
    -webkit-animation-duration: 0.3s;
    visibility: visible;			
}

.breadcrumb {
    background-color: transparent;
    padding: 70px 15px 0px 15px;
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }	
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}